<div class="container">
    <div class="form-group">
        <h1>Pagamento
            <hr>
        </h1>

        <form *ngIf="!isOpen">

            <div>
                <label for="creditCard">Numero do cartão:<br></label>
                <input type="text" id="creditCard" name="creditCard" [(ngModel)]="purchase.creditCard" (ngModelChange)="checkFormValidity()">
            </div>

            <div>
                <label for="namePrinted">Titular:<br></label>
                <input type="text" id="namePrinted" name="namePrinted" [(ngModel)]="purchase.namePrinted" (ngModelChange)="checkFormValidity()">
            </div>

            <div>
                <label for="validityCard">Validade:<br></label>
                <input type="text" id="validityCard" name="validityCard" [(ngModel)]="purchase.validityCard" (ngModelChange)="checkFormValidity()">
            </div>

            <div>
                <label for="codSec">Codigo de segurança:<br></label>
                <input type="text" id="codSec" name="codSec" [(ngModel)]="purchase.codSec" (ngModelChange)="checkFormValidity()">
            </div>


            <div>
                <label for="valueOfPayment">Valor do pagamento:<br></label>
                <input type="number" id="valueOfPayment" name="valueOfPayment" [(ngModel)]="purchase.valueOfPayment" (ngModelChange)="checkFormValidity()">
            </div>

            <div>
                <label for="installments">Quantidade de parcelas:<br></label>
                <input type="number" id="installments" name="installments" [(ngModel)]="purchase.installments" (ngModelChange)="checkFormValidity()">
            </div>

            <div>
                <input type="radio" id="trueOption" name="options" value="true" [(ngModel)]="selectedOption" (ngModelChange)="checkFormValidity()">
                <label for="trueOption">Sucesso</label>

                <input type="radio" id="falseOption" name="options" value="false" [(ngModel)]="selectedOption" (ngModelChange)="checkFormValidity()">
                <label for="falseOption">Falha</label>
            </div>

            <button type="button" (click)="save()" [disabled]="!isFormValid">Pagar</button>

        </form>

        <dialog [open]="isOpen">
            <div class="loader" id="load"></div>
            {{progress}}
        </dialog>
    </div>
</div>